# =========================
# Datasets
# =========================
datasets/

# =========================
# Training / Evaluation Outputs
# =========================
output_hfs_fgfe_token_asr/
output_position_detr/

# =========================
# Virtual Environment
# =========================
.venv/
venv/

# =========================
# Python Cache
# =========================
__pycache__/
*.py[cod]

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Model Weights / Checkpoints
# =========================
*.pth
*.pt
*.ckpt

# =========================
# macOS
# =========================
.DS_Store